In [80]:
#import pandas and get version
import pandas as pd
pd.__version__

'1.0.1'

In [81]:
#read mysql datetime column csv file
df=pd.read_csv("mysql-datetime.csv")
df.head()

          created_date
0  2020-01-05 11:07:04
1  2020-01-05 12:15:10
2  2020-01-05 12:34:01
3  2020-01-05 12:44:54
4  2020-01-05 13:04:22

In [82]:
#get the data type of all columns
df.dtypes

created_date    object
dtype: object

In [83]:
#convert string to date time object using to_datetime function
pd.to_datetime(df.created_date).head()

0   2020-01-05 11:07:04
1   2020-01-05 12:15:10
2   2020-01-05 12:34:01
3   2020-01-05 12:44:54
4   2020-01-05 13:04:22
Name: created_date, dtype: datetime64[ns]

In [84]:
#add a new column to the dataframe with datetime data type
df["cd"]=pd.to_datetime(df["created_date"])
df.dtypes

created_date            object
cd              datetime64[ns]
dtype: object

In [85]:
df.head()

          created_date                  cd
0  2020-01-05 11:07:04 2020-01-05 11:07:04
1  2020-01-05 12:15:10 2020-01-05 12:15:10
2  2020-01-05 12:34:01 2020-01-05 12:34:01
3  2020-01-05 12:44:54 2020-01-05 12:44:54
4  2020-01-05 13:04:22 2020-01-05 13:04:22

In [86]:
#df.cd.dt.date
#get date from date time object
df.cd.dt.date.head()

0    2020-01-05
1    2020-01-05
2    2020-01-05
3    2020-01-05
4    2020-01-05
Name: cd, dtype: object

In [87]:
#get your desired date format using the strftime function
# get the formating model from the below link
#https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
df.cd.dt.strftime("%d-%b-%y").head()

0    05-Jan-20
1    05-Jan-20
2    05-Jan-20
3    05-Jan-20
4    05-Jan-20
Name: cd, dtype: object

In [88]:
#using DateOffet we can manipulate date by increase/decrease day,month,year etc
from pandas.tseries.offsets import DateOffset

In [89]:
df.cd.dt.date

0      2020-01-05
1      2020-01-05
2      2020-01-05
3      2020-01-05
4      2020-01-05
          ...
113    2020-01-16
114    2020-01-16
115    2020-01-16
116    2020-01-16
117    2020-01-16
Name: cd, Length: 118, dtype: object

In [90]:
#Add 3 days to existing date
df.cd.dt.date+ DateOffset(days=3)

0     2020-01-08
1     2020-01-08
2     2020-01-08
3     2020-01-08
4     2020-01-08
         ...
113   2020-01-19
114   2020-01-19
115   2020-01-19
116   2020-01-19
117   2020-01-19
Name: cd, Length: 118, dtype: datetime64[ns]

In [91]:
#Subtract 6 days from existing date

df.cd.dt.date+ DateOffset(days=-6)

0     2019-12-30
1     2019-12-30
2     2019-12-30
3     2019-12-30
4     2019-12-30
         ...
113   2020-01-10
114   2020-01-10
115   2020-01-10
116   2020-01-10
117   2020-01-10
Name: cd, Length: 118, dtype: datetime64[ns]

In [92]:
#checking other datetime format .
df=pd.DataFrame({"c1":["12-jan-2020 10:14:20"]})
df.dtypes

c1    object
dtype: object

In [93]:
#converting to datetime format
pd.to_datetime(df.c1)

0   2020-01-12 10:14:20
Name: c1, dtype: datetime64[ns]

In [94]:
#extracting date from the date-time object
pd.to_datetime(df.c1).dt.date

0    2020-01-12
Name: c1, dtype: object